/.project
*.dll
*.obj
*.pdb
*.ipch
*Debug*
*Release*
*objects*
*debug*
debug*
packages*
*.db
*.db-shm
*.db
*.db-wal
*.opendb
.vs/sfgui/v16/Browse.VC.db
SampleCode.cpp
/.vs/GnGAnalyzer_v01
/ClassDiagram.cd
